.App {
  text-align: center;
}
table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
td, th {
  width: 5rem;
  height: 2rem;
  padding: 0.5rem;
  text-align: left;
}
input {
  margin-right: .5rem;
}
button {
  margin: .5rem
}
